<div class="container text-center">
    <p class="h1 title">Our Technology Your Advantage</p>
    <br>
    <p class="h3 title">35 Years of Innovation in Rings</p>
    <br>
    <p class="desc"><span class="h6">RINGMANN</span> - with over 35 years in the field of Spinning Rings, our quality products have achieved universal acceptance in India and across the Globe. Quality, Precision, Innovation and Improvement are the corner-stones of our corporate philosophy. Our Rings, manufactured on state-of-the-art CNC machines, are subjected to Stringent Quality Control measures.</p>
    <br>
    <p class="desc"><span class="h6">RINGMANN</span> - were the pioneers in introducing the revolutionary Surface Coating Technology, to enhance the efficiency and traveller- friendliness. Our Rings are specially designed for all machines including High Speed Compact Spinning to increase economical production and quality. We are proud to be associated with many leading and renowned spinning mills in India and abroad as our ESTEEMED and DELIGHTED CUSTOMERS. We ensure prompt supply of our products followed by comprehensive technical support in any spinning machine contingency, pre or post sale.</p>
</div>