<div class="container text-center ">
    <p class="h1 title">Our Statement</p>
    <br>
    <div class="row">
      <div class="col-md-4 statement-div">
        <div class="card statement-card border-0 ">
          <img class="card-img-top statement-img" src="assets/images/statement1.webp" alt="Card image" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Our Guiding "MANTRA"</h5>
            <p class="card-text statement-desc">A customer is the most important visitor on our premises. He is not dependent on us. We are dependent on him. He is not an interruption in our work. He is the purpose of it. He is not an outsider in our business. He is the part of it. We are not doing him a favour by serving him. He is doing us a favour by giving us an opportunity to do so.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 statement-div">
        <div class="card statement-card border-0 ">
          <img class="card-img-top statement-img" src="assets/images/statement2.webp" alt="Card image" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Our Vision</h5>
            <p class="card-text statement-desc"><span class="h6">RINGMANN</span> to emerge as a company of choice globally for Spinning Ring Technology and a one stop destination for textile spinning rings. <span class="h6">RINGMANN</span> to epitomize quality and service.</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 statement-div">
        <div class="card statement-card border-0 ">
          <img class="card-img-top statement-img" src="assets/images/statement3.webp" alt="Card image" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Our Mission</h5>
            <p class="card-text statement-desc">We, at <span class="h6">RINGMANN</span>, constantly strive through innovation and research, to provide quality and cost effective Rings to enhance production and profitability of the customers.</p>
          </div>
        </div>
      </div>
    </div>
  </div>