<app-navigation-bar></app-navigation-bar>
<!-- <app-image-carousel></app-image-carousel> -->
<router-outlet></router-outlet>
<!-- <app-support></app-support> -->

<!-- <app-product-list></app-product-list> -->

<!-- <div class="d-flex flex-wrap container gap-1">
    
    <div class="col-md-3 border rounded-4 ">
        <div class="row  ">
            <div>
                <img src="../assets/images/black-diamond-293015.webp" class="img-fluid rounded-4 p-2">
            </div>
        </div>
        <div class="row">
            <p>
                abc
            </p>
        </div>
        <div class="row">
            <p>
                From ₹ 100.00
            </p>
        </div>
    </div>

    <div class="col-md-3 border rounded-4">
        <div class="row  ">
            <div>
                <img src="../assets/images/black-diamond-293015.webp" class="img-fluid rounded-4 p-2">
            </div>
        </div>
        
        <div class="row">
            <p>
                abc
            </p>
        </div>
        <div class="row">
            <p>
                From ₹ 100.00
            </p>
        </div>
    </div>

    <div class="col-md-3 border rounded-4">
        <div class="row  ">
            <div>
                <img src="../assets/images/black-diamond-293015.webp" class="img-fluid rounded-4 p-2">
            </div>
        </div>
        
        <div class="row">
            <p>
                abc
            </p>
        </div>
        <div class="row">
            <p>
                From ₹ 100.00
            </p>
        </div>
    </div>

    <div class="col-md-3 border rounded-4">
        <div class="row  ">
            <div>
                <img src="../assets/images/black-diamond-293015.webp" class="img-fluid rounded-4 p-2">
            </div>
        </div>
        
        <div class="row">
            <p>
                abc
            </p>
        </div>
        <div class="row">
            <p>
                From ₹ 100.00
            </p>
        </div>
    </div>     -->
    <!-- <div class="col-3 border rounded border border-primary">
        <div class="row">
            <div>
                <img src="../assets/images/black-diamond-293015.webp" class="img-fluid rounded prod-img">
            </div>
        </div>
        <br>
        <div class="row">
            <p>
                abc
            </p>
        </div>
        <div class="row">
            <p>
                From ₹ 100.00
            </p>
        </div>
    </div>

    <div class="col-3 border rounded border border-primary">
        <div class="row">
            <div>
                <img src="../assets/images/black-diamond-293015.webp" class="img-fluid rounded prod-img">
            </div>
        </div>
        <br>
        <div class="row">
            <p>
                abc
            </p>
        </div>
        <div class="row">
            <p>
                From ₹ 100.00
            </p>
        </div>
    </div>

    <div class="col-3 border rounded border border-primary">
        <div class="row">
            <div>
                <img src="../assets/images/black-diamond-293015.webp" class="img-fluid rounded prod-img">
            </div>
        </div>
        <br>
        <div class="row">
            <p>
                abc
            </p>
        </div>
        <div class="row">
            <p>
                From ₹ 100.00
            </p>
        </div>
    </div>

    <div class="col-3 border rounded border border-primary">
        <div class="row">
            <div>
                <img src="../assets/images/black-diamond-293015.webp" class="img-fluid rounded prod-img">
            </div>
        </div>
        <br>
        <div class="row">
            <p>
                abc
            </p>
        </div>
        <div class="row">
            <p>
                From ₹ 100.00
            </p>
        </div>
    </div>

    <div class="col-3 border rounded border border-primary">
        <div class="row">
            <div>
                <img src="../assets/images/black-diamond-293015.webp" class="img-fluid rounded prod-img">
            </div>
        </div>
        <br>
        <div class="row">
            <p>
                abc
            </p>
        </div>
        <div class="row">
            <p>
                From ₹ 100.00
            </p>
        </div>
    </div> -->
<!-- </div>  -->

