<div class="container landing-container">
    <p class="tech-heading text-center ">
        Products
    </p>
    <div class="d-flex justify-content-between ">
        <div class="d-inline-flex filter-text">
            Filter : 
            <app-price-filter [products] = finalProducts [filterUpdate] = priceFilterUpdate [selectedValues] = selectedPriceValues [removeFilter] = filterToBeRemoved (filterValueChangeEvent) = "getFilterValues($event)"></app-price-filter>
            <app-flange-filter [products] = finalProducts [filterUpdate] = flangeFilterUpdate [selectedValues] = selectedFlangeValues [removeFilter] = filterToBeRemoved (filterValueChangeEvent) = "getFilterValues($event)"></app-flange-filter>
            <app-size-filter [products] = finalProducts [filterUpdate] = sizeFilterUpdate [selectedValues] = selectedSizeValues [removeFilter] = filterToBeRemoved (filterValueChangeEvent) = "getFilterValues($event)"></app-size-filter>
        </div>    
        <div class="d-inline-flex filter-text gap-2 ">
            <app-sort-products-dropdown (sortOptionChangeEvent) ="sortProducts($event)"></app-sort-products-dropdown>
            <p>{{productsToBeDisplayedCount}} products</p>
        </div>
    </div>
    <div *ngIf="selectedPriceValues.length != 0 || selectedFlangeValues.length != 0 || selectedSizeValues.length != 0" class="d-inline-flex filter-applied-text m-2 align-items-center gap-2">
        <div>Filters applied :</div>
        <div class="filters" (click)="removeFilter(p,'Price')" *ngFor="let p of selectedPriceValues"> Price : {{p.substring(0,p.length - 4)}} &nbsp; X</div>
        <div class="filters" (click)="removeFilter(f,'Flange')" *ngFor="let f of selectedFlangeValues"> Flange : {{f.substring(0,f.length - 4)}} &nbsp; X</div>
        <div class="filters" (click)="removeFilter(s,'Size(idxfdxh)')" *ngFor="let s of selectedSizeValues"> Size : {{s.substring(0,s.length - 4)}} &nbsp; X</div>
        <div class="remove-all-filters" (click)="removeAllFilters()">Remove all</div>
    </div>
    <app-product-list [products] = finalProducts></app-product-list>
</div>