<a class="nav-link dropdown-toggle filter-animation m-3" data-bs-toggle="dropdown" href="#">Price</a>
<ul class="dropdown-menu rounded-0 filter-text">
    <li>
        <div class="d-flex justify-content-between m-2">
            <p>The highest price is ₹335.00</p>
            <p class="hover:cursor-pointer underline">Reset</p>
        </div>
    </li>
    <li><hr></li>
    <li>
        <div class="d-inline-flex m-2">
            <div class="row">
                <div class="col">
                    <label for="fromPrice">₹</label>
                    <input type="number" id="fromPrice" class="priceRange" name="fromPrice" placeholder="From" min="1" max="335">        
                </div>
                <div class="col">
                    <label for="toPrice">₹</label>
                    <input type="number" id="toPrice" class="priceRange" name="toPrice" placeholder="To" min="1" max="335">        
                </div>
            </div>
        </div>
    </li>
  </ul>