<div class="container-fluid landing-container">
    <div class="row">
        <div class="col-sm-6">
          <img src="assets/images/sigma-excel-726647.webp" alt="Sigma Excel" class="img-fluid">
          <div class="border caption1 text-xxl-center p-2 fw-bolder ">
            <h2>
              <a href="products/1">Sigma Excel</a>
            </h2>
          </div>
        </div>
        <div class="col-sm-6">
          <img src="assets/images/black-diamond-293015.webp" alt="Black Diamond" class="img-fluid">
          <div class="border caption2 p-2">
            <h2>
              <a href="products/4">Black Diamond</a>
            </h2>
          </div>
        </div>
    </div>    
</div>