<div class="container-fluid">
    <div class="container-fluid text-center my-3"  *ngIf="submenu === 'rp'">
        <p class="tech-heading">
            Ring Profile 
        </p>
        <div class="container">
            <img src="assets/images/ring_profile.webp" class="tech-image img-fluid"/>
        </div> 
    </div>
    
    <div class="container text-center my-3"  *ngIf="submenu === 'tsc'">
        <p class="tech-heading">
            Traveller Selection for Cotton
        </p>
        <div class="container">
            <img src="assets/images/traveller_cotton.webp" class="tech-image img-fluid"/>
        </div> 
    </div>
    
    <div class="container text-center my-3"  *ngIf="submenu === 'tss'">
        <p class="tech-heading">
            Traveller Selection for Synthetic
        </p>
        <div class="container">
            <img src="assets/images/traveller_synthetic.webp" class="tech-image  img-fluid"/>
        </div> 
    </div>
    
    <div class="container text-center my-3"  *ngIf="submenu === 'cc'">
        <p class="tech-heading">
            Cost Calculator
        </p>
        <!-- <div class="container">
            <img src="assets/images/traveller_cotton.webp" class="tech-image"/>
        </div>  -->
    </div>
    
    <div class="container text-center my-3"  *ngIf="submenu === 'tco'">
        <p class="tech-heading">
            Total Cost of Ownership
        </p>
        <!-- <div class="container">
            <img src="assets/images/traveller_synthetic.webp" class="tech-image"/>
        </div>  -->
    </div>
</div>